[Interface]
Address = {{ item.item.value.private_ip }}/24
PrivateKey = {{ item['content'] | b64decode | trim }}

[Peer]
PublicKey = {{ server_publickey['content'] | b64decode | trim }}
Endpoint = {{ server_ip['content'] | trim }}:51820
AllowedIPs = {{ item.item.value.private_ip }}/24
