[Interface]
Address = {{ wg_private_ip }}/24
PrivateKey = {{ server_privatekey['content'] | b64decode | trim }}
ListenPort = 51820

{% for item in wg_user_publickey.results %}
{% if item.item.value.remove == False %}
[Peer]
PublicKey = {{ item['content'] | b64decode | trim }}
AllowedIps = {{ item.item.value.private_ip }}/32

{% endif %}
{% endfor %}
